body {
  margin: 0;
  padding: 0;
  background-color: #CCD7E6;
}

.main {
  width: 100%;
  height: 100%;
  min-height: 50px;
  min-width: 200px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #5878A4;
}

.main__logo{
  background-color: #5878A4;
}

.main__lang-buttons {
  width: 250px;
  display: flex;
  flex-flow: row wrap;
  background-color: #5878A4;
  height: 30px;
}

.main__lang-buttons button {
  width: 30%;
  margin: 1.515%;
  border: none;
  background-color: rgb(99, 125, 161);
  border: 1px solid #B7C6DB;
  transition: .7s;
}

.main__lang-buttons button:hover {
  background-color: #B7C6DB;
}

.main__navigation {
  width: 90%;
  height: 100%;
  min-height: 30px;
  min-width: 200px;
  justify-content: center;
  border-bottom: 2px solid #B7C6DB;
  padding: 10px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: .1fr .1fr .1fr .1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 
  'nav-main nav-list nav-dev nav-about';
  grid-gap: 20px;
}

@media screen and (max-width: 900px) {
  .main__navigation {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
    grid-template-areas:
      'nav-main nav-list'
      'nav-dev nav-about'
  }
}

@media screen and (max-width: 400px) {
  .main__navigation {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      'nav-main' 
      'nav-list'
      'nav-dev' 
      'nav-about'
  }
}



.main__navigation-main{
  grid-area: nav-main;
}

.main__navigation-list{
  grid-area: nav-list;
}

.main__navigation-dev{
  grid-area: nav-dev;
}

.main__navigation-about{
  grid-area: nav-about;
}

.main__navigation a {
  text-decoration: none;
  color: #000000;
  border: 1px solid #B7C6DB;
  padding: 5px;
  transition: .7s;
}

.main__navigation a:hover {
  background-color: #B7C6DB;
}

/* MY PART */
.author {
  /* border: 1px solid #000000; */
  margin: 2px;
  border-bottom: 2px solid #B7C6DB;
}

.authorName {
  grid-area: name;
  text-align: center;
  font-size: 40px;
}

.authorPhoto {
  grid-area: photo;
  width: 80%;
  padding: 10%;
  /* padding-bottom: 200%; */
}

.authorAbout {
  grid-area: about;
}

.authorWorks {
  grid-area: works;
}

.authorPhotoGallery {
  grid-area: photoGallery;
}

.authorPhotoGalleryImg {
  display: block;
  width: 30%;
  min-width: 300px;
  float: left;
  border: 0.5px solid #000000;
  margin: 1.5%;
}

.authorVideoGallery {
  grid-area: videoGallery;
  margin: 0 auto;
  border-bottom: 2px solid #B7C6DB;
  padding-bottom: 10px;
}

.authorVideoGalleryFilm {
  display: block;
  width: 90%;
  height: 300px;
  min-width: 300px;
  float: left;
}

.geoWidget {
  grid-area: widget;
  margin: 0 auto;
}

@media screen and (min-width: 721px) {
  .authorWrapper {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 0.09fr 0.71fr 0.85fr 0.5fr 0.5fr 0.5fr;
    grid-template-areas:
      "name name"
      "photo about"
      "works works"
      "photoGallery photoGallery"
      "videoGallery videoGallery"
      "widget widget";
  }
}

@media screen and (max-width: 925px) {
  .authorPhoto {
    padding-bottom: 10%;
  }
  .authorWrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "name"
      "photo"
      "about"
      "works"
      "photoGallery"
      "videoGallery"
      "widget";
  }
}

/* END OF MY PART */


/*# sourceMappingURL=page4.css.map*/