<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Author template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <header>
      <header class='main'>
        <h1 class="main__logo" id="main__logo">Писатели Белоруссии</h1>
        <div class="main__lang-buttons">
          <button value="ru" data-lang="ru">ru</button>
          <button value="by" data-lang="by">by</button>
          <button value="en" data-lang="en">en</button>
        </div>
      </header>
    </header>
    <main class="authorWrapper">
      <h2 class="authorName author" id="authorName">Author Name</h2>
      <img class="authorPhoto author" alt="author photo will be here" id="authorPhoto"></img>
      <section class="authorAbout author" id="authorAbout">author about will be here</section>
      <section class="authorWorks author" id="authorWorks">author works will be here</section>
      <section class="authorPhotoGallery author">
        <h3>Author photo gallery</h3>
        <img class="authorPhotoGalleryImg" alt="author img" id="authorPhotoGalleryImg1"></img>
        <img class="authorPhotoGalleryImg" alt="author img" id="authorPhotoGalleryImg2"></img>
        <img class="authorPhotoGalleryImg" alt="author img" id="authorPhotoGalleryImg3"></img>
      </section>
      <section class="authorVideoGallery author">
        <h3>Author video gallery</h3>
        <iframe class="authorVideoGalleryFilm" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen id="authorVideoGalleryFilm">Author video</iframe>
      </section>
    </main>
  </body>
</html>