<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>

    <header class='main'>
      <h1 class="main__logo">Писатели Белоруссии</h1>
      <div class="main__lang-buttons">
        <button value="ru">ru</button>
        <button value="by">by</button>
        <button value="en">en</button>
      </div>
    </header>

    <nav class="main__navigation">
        <a href="#about">Главная</a>
        <a href="./list.html">Авторы</a>
        <a href="#developers">Разработчики</a>
        <a href="#day-author">О нас</a>
      </nav>

      <article id='about' class='main__section-about'>
          <h2>О нас</h2>
          <p>Наш сайт содержит информацию о белорусских писателях.</br>
          Здесь вы найдете информацию о годах их жизни, написанных произведениях и др.</p>
      </article>

      <article class="main__author-of-day" name="day-author" id="day-author">
          <h2>Автор дня</h2>
            <div>
              <a href="">Коля(1990-2018)</a>
              <p>Родился в Минске в семье депутата и домохозяйки. Свои первое произведение <br> 
                написал в возрасте 15 лет. </p>
            </div>
        </article>
        </div>
    </main>   

    <footer id="developers">
      <h2>Разработчики</h2>
      <div class="main__developers">
        <div class="main__developers-1">
          <img src="./index/img/evgenCherepov.jpg" alt="Author1" width="75px" height="75px">
          <div class="main__developers-1-information">
            <h4>Eughene Cherepov</h4>
            <p>Github: <a href="https://github.com/eughene-cherepov" target="_blank">eughene-cherepov</a></p>

          </div>
        </div>

        <div class="main__developers-2">

          <img src="./index/img/shanhinPavel.jpg" alt="Author2" width="75px" height="75px">
          <div class="main__developers-2-information">
            <h4>Shanhin Pavel</h4>
            <p>Github: <a href="https://github.com/ShanhinPavel" target="_blank">shanhinPavel</a></p>
          </div>
        </div>

        <div class="main__developers-3">
          <img src="./index/img/evgenOleshkevich.jpg" alt="Author3" width="75px" height="75px">
          <div class="main__developers-3-information">
            <h4>Eugene Oleshkevich</h4>
            <p>Github: <a href="https://github.com/SystemGhost" target="_blank">SystemGhost</a></p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
