body {
  padding: 0;
  margin: 0;
  background-color: gainsboro;
}

header {
  border: 1px solid #000000;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

.navbar {
  width: 100%;
  height: 100%;
  min-height: 50px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr;
  grid-template-areas:
    'logo lang';
}

@media screen and (max-width: 400px) {
  .navbar {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      'logo'
      'lang'
  }
}

main {
  max-width: 1600px;
  width: 100%;
}

.headLogo {
  grid-area: logo;
  text-align: center;
  padding: 17px;
}

.lang__button {
  grid-area: lang;
  text-align: center;
  padding: 17px;
}

.langButton {
  width: 20%;
  max-width: 80px;
}

.authorSearchInput {
  grid-area: searchInput;
}

.authorSearchInput input {
  width: 90%;
}

.authorSearchButton {
  grid-area: searchButton;
}

.showAllAuthors{
  grid-area: show;
}

.showAllAuthors button{
  font-size: 12px;
}

.pageName {
  grid-area: pageName;
  font-size: 12px;
}

.pageName h2 {
  margin: 0;
}

.filterButtons {
  grid-area: buttons;
  border: 1px solid #000000;
  height: 100%;
}

.filterOptions {
  display: block;
  height: 30%;
  /* margin: 1.515%; */
}

.searchResults {
  grid-area: results;
  border: 1px solid #000000;
  height: 100%;
  margin: 0;
}

@media screen and (min-width: 721px) {
  .searchWrapper {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: .1fr 1fr;
    grid-template-areas:
      'pageHead pageHead'
      'buttons results';
    grid-gap: 10px;
    width: 95%;
    margin: 2.5%;
  }

  .searchHeadingWrap {
    grid-area: pageHead;
    border: 1px solid #000000;
    display: grid;
    grid-template-columns: 1.2fr 3fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      'pageName searchInput searchButton show';
    text-align: center;
    padding: 13px;
  }
}

@media screen and (max-width: 721px) {
  .searchWrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .1fr 1fr 1fr;
    grid-template-areas:
      'pageHead'
      'buttons'
      'results';
    grid-gap: 10px;
    width: 95%;
    margin: 2.5%;
  }

  .searchHeadingWrap {
    grid-area: pageHead;
    border: 1px solid #000000;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      'pageName' 
      'searchInput' 
      'searchButton'
      'show';
    text-align: center;
    padding: 13px;
  }
}
