* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  width: 100%;
  height: 100%;
  min-height: 50px;
  min-width: 200px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  background-color: blue;
  border: 1px solid red;
}

.main__lang-buttons {
  width: 150px;
  display: flex;
  flex-flow: row wrap;
}

.main__lang-buttons button {
  width: 30%;
}

.main__navigation {
  width: 100%;
  height: 100%;
  min-height: 30px;
  min-width: 200px;
  display: flex;
  justify-content: flex-end;
  flex-flow: row wrap;
  background-color: lightblue;
  border: 1px solid red;
}

.main__navigation a {
  margin-right: 20px;
}

.main__section-about {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 100%;
  min-width: 200px;
  min-height: 100px;
  border: 1px solid red;
}

.main__section-about {
  text-align: center;
}

.main__author-of-day {
  display:flex;
  flex-direction: column;
  height: inherit;
  width: 100%;
  border: 1px solid red;
  justify-content: start;
  align-items: center;
  min-width: 200px;
}

footer {
  background-color: bisque;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-width: 200px;
  min-height: 150px;
  justify-content: space-evenly;
  align-items: center;
}

.main__developers {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
}

.main__developers-1,
.main__developers-2,
.main__developers-3 {
  display: flex;
  flex-flow: row wrap;
}

.main__developers-1-information,
.main__developers-2-information,
.main__developers-3-information {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

@media all and (max-width: 800px) {
  .main {
    flex-flow: column wrap;
  }

  .main__lang-buttons {
    align-items: inherit;
  }

  .main__navigation, 
  .main__developers,
  .main__lang-buttons {
    justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
  .main__navigation,
  .main__lang-buttons,
  .main__developers {
    flex-flow: column wrap;
  }
  .main__navigation a {
    text-align: center;
  }

  .main__lang-buttons {
    align-items: inherit;
  }

  .main__developers-1,
  .main__developers-2,
  .main__developers-3 {
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-around;
    min-height: 120px;
  }
}


