* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  width: 100%;
  height: 100%;
  min-height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: blue;
  border: 1px solid red;
}

.main__lang-buttons {
  width: 150px;
}

.main__lang-buttons button {
  width: 30%;
}

.main__navigation {
  width: 100%;
  height: 30px;
  min-width: 300px;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  background-color: lightblue;
  border: 1px solid red;
}

.main__navigation a {
  margin-right: 20px;
}

.main__general {
  height: 100%;
  min-height: 450px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: aquamarine;
  border: 1px solid red;
}


.main__section-about {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 100%;
  min-height: 100px;
  border: 1px solid red;
}

.main__section-about {
  text-align: center;
}

.main__author {
  display: flex;
  flex-flow: row wrap;
  min-height: 200px;
  border: 1px solid red;
}

.main__search-author {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: inherit;
  width: 20%;
}

.main__search-inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  height: 30%;
  min-height: 30px;
}

.main__search-author [type="radio"] {
  display: flex;
  flex-direction: column;
}

.main__search-author label {
  display: flex;
  flex-direction: row;
  align-items: inherit;
}

.main__search-author-textfield {
  width: 60%;
  height: 10%;

}

.main__authors {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  height: inherit;
  width: 55%;
  border: 1px solid red;
}

.main__authors-all {
  display: flex;
  flex-flow: row wrap;
  border: 1px solid red;

}

.main__author-of-day {
  display:flex;
  flex-direction: column;
  height: inherit;
  width: 25%;
  border: 1px solid red;
}

footer {
  background-color: bisque;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-height: 150px;
  justify-content: space-evenly;
  align-items: center;
}

.main__developers {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
}

.main__developers-1,
.main__developers-2,
.main__developers-3 {
  display: flex;
  flex-flow: row wrap;
}

.main__developers-1-information,
.main__developers-2-information,
.main__developers-3-information {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}



